#input {
  position: absolute;
  right: 15px;

}


#test {
  position: absolute;
  right: 35px;
  bottom: 70px;

}

#log {
  position: absolute;
  right: 25px;
  bottom: 125px;

}

.output{
  font-size: 45px;
  right: 15px;

}
